<launch>
  <arg name="task" default="$(find benchbot_supervisor)/tasks/example.json" />

  <include file="$(find navigator)/launch/navigator.launch">
    <arg name="locations" value="$(find benchbot_supervisor)/data/default.json" />
  </include>

  <node pkg="benchbot_supervisor" type="benchbot_supervisor" name="benchbot_supervisor" args="$(arg task)" />
</launch>